.dark-blue-bg {
    background-color: #051e40;
}

.light-blue-bg {
    background-color: #1890FF;
}

.light-blue-text {
    color: #1890FF;
}

.bg-img {
    background-image: url('../../../assets/static/bg_img.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

